---
layout: grid
name: updates
---
<article class="row columns eight offset-two posts post">

  <h2>
    {{ page.title }}
    <a href="{{ page.url }}" class="archive-date">{{ page.date | date:"%B %d" }}</a>
  </h2>

  {{ content }}

</article>
<nav class="row columns eight offset-two posts">
{% if page.previous %}
  <a href="{{ page.previous.url }}" class="previous-post">{{ page.previous.title }}</a>
  {% endif  %}
  {% if page.next %}
  <a href="{{ page.next.url }}" class="next-post">{{ page.next.title }}</a>
  {% endif  %}
</nav>
