#content {
  background: $grey;
  overflow: hidden;
  @media screen and (min-width: $breakpoint942) {
    padding-top: 5.3rem;
  }
}

.center {
  text-align: center;
}

.smaller {
  font-size: smaller;
}
