#main-footer {
  border: {
    bottom: 0.3rem solid $brown;
    top: 0.3rem solid $brown;
  }
  font-size: 1.3rem;
  padding: 1.8rem;
  text-align: center;
  .emoji.kissing_heart {
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
  }
}
