#primary-nav {
  background: $brown;
  text-align: center;

  li {
    &:first-child {
      a {
        padding-top: 1rem;

      }
    }
    &:last-child {
      a {
        padding-bottom: 1rem;
      }
    }
  }

  a {
    display: block;
    font: {
      size: 1.25rem;
      weight: $bodyBoldWeight;
    }
    padding: .8rem 0;
    text-decoration: none;
    &:link, &:visited {
      color: $white;
    }
    &:hover, &:active {
      color: lighten($pink, 10%);
    }
  }
}
