.wedding {
  dl {
    margin-bottom: 2rem;
  }

  dt {
    &::after {
      content: ':\00a0';
    }
  }

  dd {
    p:not(:first-child) {
      margin-left: 1.6rem;
    }
  }
}

.schedule {
  dt {
    float: left;
  }
}

.getting-there {
  dd {
    p {
      margin-left: 1.6rem;
    }
  }
  span.center {
    display: block;
    font: {
      variant: small-caps;
      weight: bold;
    }
  }
}
