<header id="main-header">
  <a href="/">
    <div class="top">
      <i class="mark hat-alt">&nbsp;</i>
      <i class="mark silly">&nbsp;</i>
      <i class="mark robot">&nbsp;</i>
      <i class="mark hat">&nbsp;</i>
      <i class="aki farmhouse">&nbsp;</i>
      <i class="aki prudential">&nbsp;</i>
      <i class="aki headphones">&nbsp;</i>
      <i class="aki vox">&nbsp;</i>
    </div>
    <div class="bottom">
      <i class="heart brown">&nbsp;</i>
      <i class="skull">&nbsp;</i>
      <i class="heart brown">&nbsp;</i>
      <i class="mark manga">&nbsp;</i>
      <i class="aki manga">&nbsp;</i>
      <i class="heart pink">&nbsp;</i>
      <i class="skull">&nbsp;</i>
      <i class="heart pink">&nbsp;</i>
    </div>
  </a>

  <h1><a href="/">The Illisconsin Wedding</a></h1>
</header>
