<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% capture page_title %}
    {{ page.title }} | ILlisconsin Wedding
    {% endcapture %}

<title>{{ page_title }}</title>
<meta name="description" content="{{ page.description }}">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{{ page_title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:site_name" content="An Illisconsin Wedding">

<meta itemprop="name" content="{{ page_title }}">
<meta itemprop="description" content="{{ page.description }}">
<meta name="google-site-verification" content="HzNYPrhQ2tpXwuLZLFoKksBmfRhQSb9QvSDPNyqribA" />


<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="apple-/touch-icon-precomposed" href="/touch-icon-iphone.png"/>
<link rel="apple-/touch-icon-precomposed" sizes="72x72" href="/touch-icon-ipad.png"/>
<link rel="apple-/touch-icon-precomposed" sizes="114x114" href="/touch-icon-iphone-retina.png"/>
<link rel="apple-/touch-icon-precomposed" sizes="144x144" href="/touch-icon-ipad-retina.png"/>

<link rel="shortcut icon" href="/favicon.ico">


<meta name="author" content="humans.txt">

<!-- build:css({app,.tmp}) /css/style.css -->
<link rel="stylesheet" href="/css/style.css">
<!-- endbuild -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-26097728-8', 'illisconsin.com');
  ga('send', 'pageview');

</script>
