#main-header {
  border: {
    bottom: 0.3rem solid $brown;
    top: 0.3rem solid $brown;
  }
  overflow: hidden;
  @media screen and (min-width: $breakpoint628) {
    border-width: 0.4rem;
    padding-top: 1.2rem;
  }
  h1, h1 a {
    height: 0;
    margin: 0;
    overflow: hidden;
  }
  .top, .bottom {
    margin: 0 auto;
    overflow: hidden;
  }
  i {
    background: {
      repeat: no-repeat;
    }
    display: none;
    float: left;
    margin: 0.5rem;
    overflow: hidden;
  }
  .top {
    display: none;
    @media screen and (min-width: $breakpoint628) {
      display: block;
      width: 62.4rem;
    }
    @media screen and (min-width: $breakpoint942) {
      width: 93.6rem;
    }
    @media screen and (min-width: $breakpoint1256) {
      width: 124.8rem;
    }
    i {
      background-image: url("/img/header_top_sprite.jpg");
      display: none;
      height: 14.4rem;
      margin: 0 0.6rem;
      width: 14.4rem;
    }
  }
  .bottom {
    width: 31.4rem;
    @media screen and (min-width: $breakpoint628) {
      width: 62.8rem;
    }
    @media screen and (min-width: $breakpoint942) {
      width: 94.2rem;
    }
    @media screen and (min-width: $breakpoint1256) {
      width: 125.6rem;
    }
    i {
      background: {
        size: 147px 738px;
      }
      @media#{$standard-def} {
        background-image: url("/img/header_bottom_sprite.png");
      }
      @media#{$retina} {
        background-image: url("/img/header_bottom_sprite@2x.png");
      }
      height: 14.7rem;
      width: 14.7rem;
    }
  }

  .aki {
    &.headphones {
      background-position: -5px -5px;
      @media screen and (min-width: $breakpoint942) {
        display: block;
      }
    }
    &.prudential {
      background-position: -5px -154px;
      @media screen and (min-width: $breakpoint1256) {
        display: block;
      }
    }
    &.vox {
      background-position: -5px -303px;
      @media screen and (min-width: $breakpoint628) {
        display: block;
      }
    }
    &.farmhouse {
      background-position: -5px -452px;
      @media screen and (min-width: $breakpoint628) {
        display: block;
      }
    }
    &.manga {
      background-position: 0 -147px;
    }
  }

  .mark {
    &.hat {
      background-position: -5px -601px;
      @media screen and (min-width: $breakpoint1256) {
        display: block;
      }
    }
    &.silly {
      background-position: -5px -750px;
      @media screen and (min-width: $breakpoint942) {
        display: block;
      }
    }
    &.stylin {
      background-position: -5px -899px;
      @media screen and (min-width: $breakpoint628) {
        display: block;
      }
    }
    &.robot {
      background-position: -5px -1048px;
      @media screen and (min-width: $breakpoint628) {
        display: block;
      }
    }
    &.manga {
      background-position: 0 0;
    }
  }

  .heart {
    &.pink {
      background-position: 0 -295px;
    }
    &.brown {
      background-position: 0 -443px;
    }
    @media screen and (min-width: $breakpoint1256) {
      display: block;
    }
  }
  .skull {
    background-position: 0 -591px;
    @media screen and (min-width: $breakpoint942) {
      display: block;
    }
  }

  .manga {
    display: block;
  }
  @media screen and (min-width: $breakpoint628) {
    .skull + .heart.brown {
      display: block;
    }
    .aki.manga + .heart.pink {
      display: block;
    }
  }
}
