#primary-nav {
  background: $brown;
  left: 0;
  overflow: hidden;
  right: 0;
  text-align: center;
  @media screen and (min-width: $breakpoint942) {
    position: absolute;
    top: 32rem;
  }

  ul {
    @media screen and (min-width: 61.25em) {
      margin: 0 auto;
      max-width: 96.0rem;
    }
    @media screen and (min-width: 78em) {
      max-width: 122.25306rem;
    }
  }

  a {
    display: block;
    font: {
      size: 1.6rem;
      variant: small-caps;
      weight: $bodyBoldWeight;
    }
    padding: 1.5rem 0;
    text: {
      decoration: none;
      transform: uppercase;
    }
    &:link, &:visited {
      color: $white;
    }
    &:hover, &:active {
      color: lighten($pink, 10%);
    }
  }
  li {
    @media screen and (min-width: $breakpoint520) {
      float: left;
      width: 50%;
      &:nth-child(odd) {
        border-right: dotted 0.1rem lighten($brown, 10%);
      }
      &:nth-child(1n+3) {
        border-top: dotted 0.1rem lighten($brown, 10%);
      }
    }
    @media screen and (min-width: $breakpoint700) {
      border-right: dotted 0.1rem lighten($brown, 10%);
      width: 33.33333%;
      &:nth-child(3n) {
        border-right: none;
      }
      &:nth-child(0n + 3) {
        border-top: none;
      }
    }
    @media screen and (min-width: $breakpoint942) {
      width: 16.5%;
      &:nth-child(1n) {
        border: none;
      }
    }
  }
}

.posts {

}

.previous-post {
  float: left;
  &::before {
    @include icon($fa-chevron-circle-left);
    margin-right: 0.5rem;
  }
}
.next-post {
  float: right;
  &::after {
    @include icon($fa-chevron-circle-right);
    margin-left: 0.5rem;
  }
}
