* {
  box-sizing: border-box;
}

html, body {
  color: $brown;
  font: {
    family: $bodyCopyFont;
    size: 10px;
    weight: $bodyNormalWeight;
  }
  line: {
    height: 1.5;
  }
}

html {
  height: 100%;
}

body {
  background: {
    attachment: fixed;
    image: url('/img/header_background.png');
  }
  font-size: 1.9rem;
  min-height: 100%;
}

a {
  color: $brown;
  display: inline-block;
  font-weight: $bodyBoldWeight;
  transition: color 200ms, border-bottom-color, 200ms;

  &:link, &:visited {
    border-bottom: dotted 0.1rem $brown;
    border-bottom-color: $brown;
    text-decoration: none;
  }
  &:hover, &:active {
    border-bottom-color: $pink;
    color: darken($pink, 25%);
  }
}

b, strong {
  font-weight: $bodyBoldWeight;
}

dd {
  margin-bottom: 2rem;
}

dt {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font : {
    family: $headlineStack;
    weight: $headlineBoldWeight;
  }
  line-height: 1.2;
  margin: 0.5em auto 0.75em;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 2.1rem;
}

h5 {
  font-size: 1.9rem;
}

h6 {
  font-size: 1.8rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0.5em 0 1rem;
}

strong {
  font-weight: bolder;
}

ol, ul {
  list-style: disc;
  padding-left: 2rem;
}

li {
  margin-bottom: 3rem;
}
