* {
  box-sizing: border-box;
}

html, body {
  color: $brown;
  font: {
    family: $bodyCopyFont;
    size: 10px;
    weight: $bodyNormalWeight;
  }
  line: {
    height: 1.5;
  }
}

html {
  height: 100%;
}

body {
  background: {
    image: url('/img/header_background.png');
  }
  font-size: 1.8rem;
  min-height: 100%;
}

a {
  color: $brown;
  font-weight: $bodyBoldWeight;
  transition: color 400ms;

  &:link, &:visited {
  }
  &:hover, &:active {
    color: darken($pink, 25%);
  }
}

b, strong {
  font-weight: $bodyBoldWeight;
}
h1, h2, h3, h4, h5, h6 {
  font : {
    family: $headlineStack;
    weight: $headlineBoldWeight;
  }
  line-height: 1.2;
  margin: 0.25em auto 0.5em;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 2.1rem;
}

h5 {
  font-size: 1.9rem;
}

h6 {
  font-size: 1.8rem;
}

p {
  margin: 0.4rem 0 0.8rem;
}

strong {
  font-weight: bolder;
}
