$brown: #362f2d;
$white: #f7f5f7;
$pink: #b982ba;
$grey: #CCC;
$black: #333;

$ralewayStack: Raleway, Verdana, "Lucida Grande", "Gill Sans", Arial, Helvetica, sans-serif;
$ralewayNormalWeight: 300;
$ralewayBoldWeight: 500;
$ralewayURL : 'Raleway:#{$ralewayNormalWeight},#{$ralewayBoldWeight}';

$openSansStack: 'Open Sans', Helvetica, Arial, sans-serif;
$openSansNormalWeight: 300;
$openSansBoldWeight: 400;
$openSansURL : 'Open+Sans:#{$openSansNormalWeight},#{$openSansBoldWeight}';


$futuraStack: Futura, "Trebuchet MS", Arial, sans-serif;
$futuraNormalWeight: 300;
$futuraBoldWeight: 500;

$headlineStack: $ralewayStack;
$headlineNormalWeight: $ralewayNormalWeight;
$headlineBoldWeight: $ralewayBoldWeight;
$headlineURL: $ralewayURL;

$bodyCopyFont: $openSansStack;
$bodyNormalWeight: $openSansNormalWeight;
$bodyBoldWeight: $openSansBoldWeight;

$standard-def : '(-webkit-max-device-pixel-ratio: 1.49), (max-resolution: 143.9dpi)';
$retina : '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)';
$breakpoint520: 32.5em;
$breakpoint628: 39.25em;
$breakpoint700: 43.75em;
$breakpoint942: 58.875em;
$breakpoint1256: 78.5em;
