@import url('//fonts.googleapis.com/css?family=Lobster:400');


$brown: #362f2d;
$white: #f7f5f7;
$pink: #b982ba;
$grey: #CCCCCC;

$headlines: Lobster, cursive;
$headlineWeight: 400;

$ralewayBody: Raleway, Verdana, "Lucida Grande", "Gill Sans", Arial, Helvetica, sans-serif;
$ralewayNormalWeight: 300;
$ralewayBoldWeight: 500;
$ralewayURL : 'Raleway:#{$ralewayNormalWeight},#{$ralewayBoldWeight}';

$josefinBody: 'Josefin Sans', Verdana, "Lucida Grande", "Gill Sans", Arial, Helvetica, sans-serif;
$josefinNormalWeight: 300;
$josefinBoldWeight: 600;
$josefinURL : 'Josefin+Sans:#{$josefinNormalWeight},#{$josefinBoldWeight}';

//$bodyCopyFont: $josefinBody;
//$bodyNormalWeight: $josefinNormalWeight;
//$bodyBoldWeight: $josefinBoldWeight;
//$bodyCopyURL: $josefinURL;

$bodyCopyFont: $ralewayBody;
$bodyNormalWeight: $ralewayNormalWeight;
$bodyBoldWeight: $ralewayBoldWeight;
$bodyCopyURL: $ralewayURL;

@import url('//fonts.googleapis.com/css?family=#{$bodyCopyURL}');
