@import url('//fonts.googleapis.com/css?family=Raleway:300,500');
@import url('//fonts.googleapis.com/css?family=Lobster:400');


$brown: #362f2d;
$white: #f7f5f7;
$pink: #b982ba;
$grey: #CCCCCC;

$headlines: Lobster, cursive;
$body: Raleway, Verdana, "Lucida Grande", "Gill Sans", Arial, Helvetica, sans-serif;
